*:not(html, script, style, head) {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: system-ui;
    font-weight: 100;
    border: none;
    /* border: 1px solid #ff0101; */
    color: #000000;
   } 


body {
    background-color: #102d76;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    max-height: 95vh;
    background-image: url(background1.jpg);
    }


div#bodyContainer {
    height: 87vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

div#users_container {
    width: 95%;
    height: 18%;
    min-height: 51px;
    background-color: #2366b670;
    border-radius: 8px;
}

div#message_container {
    width: 95%;
    height: 60%;
}

form#chatForm {
    flex-direction: column;
    width: 88%;
    align-items: flex-start;
    height: 90%;
    margin: 0;
    justify-content: space-around;
}

input#fileToUpload {
    width: 15px;
    min-width: 33px;
    min-height: 33px;
    opacity: 0;
}

div#sendContainer {
    height: 17%;
    width: 95%;
    /* position: fixed; */
    background: #192166d1;
    /* bottom: 0%; */
    border-radius: 9px;
    padding: 2px 0px;
}

div#users {
    height: 90%;
    width: 95%;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    overflow-x: scroll;
}

.profile_pic {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    min-height: 33px;
}

.username_text {
    word-wrap: break-word;
    word-break: break-all;
    width: 91%;
}

.userContainer {
    width: 42px;
    /* margin: 2px 5px; */
    justify-content: flex-start;
    height: 82px;
    min-width: 49px;
    min-height: 82px;
}

div#messages {
    height: 90%;
    width: 95%;
    justify-content: flex-start;
    overflow: hidden;
    overflow-y: scroll;
}

.messageContainer_message {
    flex-direction: row;
    width: 90%;
    height: 100px;
    justify-content: space-around;
    height: max-content;
    border: 2px solid #919191;
    margin: 7px 2px;
}

.userContainer_message {
    width: 27%;
    height: 100px;
}

.profile_pic_message {
    height: 36px;
    width: 33px;
    border-radius: 100%;
}

.username_text_message {
    word-wrap: break-word;
    word-break: break-all;
    width: 92%;
    color: white;
    font-weight: 500;
}

.chat_container {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.chat_pic_message {
    height: 30vh;
    width: 95%;
}

.chat_text_message {
    /* width: 100%; */
    padding: 7px 8px;
    margin: 5px 7px;
    font-weight: 400;
    font-size: 14.6px;
    letter-spacing: 0.5px;
    background-color: white;
    color: black;
    border-radius: 11px;
}

div#loginform {
    display: none;
}

div#menu {
    display: none;
}

input#username {
    display: none;
}

div#upload {
    width: 15px;
    min-width: 33px;
    min-height: 33px;
    /* background-image: url(send.png); */
}

div#chatsend_container {
    flex-direction: row;
    width: 96%;
    align-items: end;
    justify-content: space-between;
}

div#sendMenu {
    width: 87%;
    align-items: flex-start;
}

textarea#message {
    min-width: 88%;
    background-color: white;
    border-radius: 4px;
    text-align: left;
    padding: 3px 5px;
    font-size: 15px;
}

button {
    background-image: url(send.png);
    width: 10%;
    background-color: #3bdf7f;
    border-radius: 100%;
    background-size: 99% 99%;
    padding: 6px;
    font-size: 0px;
    min-height: 30px;
}

video.chat_video_message {
    height: 250px;
    width: 90%;
    border-radius: 7px;
}

iframe {
    width: 95%;
    height: 95%;
}

.chat_youtube_wrapper {
    height: 90%;
}

.chat_text_message {
    color: black;
    align-items: flex-end;
}

.youtube_text {
    padding: 3px;
}

div#fileupload_container {
    background-image: url(plus.png);
    width: 15px;
    min-width: 27px;
    min-height: 27px;
    background-size: 90% 88%;
    background-color: white;
    border-radius: 100%;
}

div#send_container {
    flex-direction: row;
    width: 96%;
    justify-content: space-between;
}

div#fileupload_container {}

div#uploadMenu {
    width: 95%;
    align-items: flex-start;
}

div#background_container {
    height: 100vh;
    width: 95vw;
    background-color: #0b276163;
}

audio.chat_audio_message {
    width: 82%;
}